node_modules/
*__pycache__/
*.pyc
.env
dataset.jsonl
storage/
.venv/
.pytest_cache/
.ipynb_checkpoints/
*.log
todos/
oracle.md
*txt
testing/
Talven/
deployment

# Searqon Binaries & DB
go_scraper_bin
*.sqlite
*.sqlite-journal
results/
.DS_Store